.title {
	text-align: center;
	margin-top: 0;
	margin-bottom: var(--w-space-7);
}

.list {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-inline: auto;
	max-width: var(--w-measure);

	border-top: var(--w-line);
}

.entry {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--w-space-5);

	padding-block: var(--w-space-2);
	margin-bottom: 0;
	border-bottom: var(--w-line);
}

.entryText {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.entryLink {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.entrySubtitle {
	color: var(--color-dark-text-dim);
	font-size: var(--w-text-note);
}

.entryMeta {
	color: var(--color-dark-text-dim);
	font-size: var(--w-text-note);
	flex-shrink: 0;
}
