.header {
	max-width: var(--w-measure);
	margin-inline: auto;
	margin-bottom: calc(var(--w-space-7) * 1.5);

	text-align: center;
	text-wrap: balance;
}

.title {
	margin-top: 0;
	margin-bottom: var(--w-space-3);
}

.meta {
	display: block;
	color: var(--color-dark-text-dim);
	font-size: var(--w-text-note);
	line-height: var(--w-leading-head);
}

.url {
	display: inline-block;
	margin-top: var(--w-space-3);
	font-size: var(--w-text-note);
}

.body {
	max-width: var(--w-measure);
	margin-inline: auto;

	& > :last-child {
		margin-bottom: 0;
	}
}
