
# https://developers.cloudflare.com/turnstile/
# dev (.env.development): 1x00000000000000000000AA / 1x0000000000000000000000000000000AA
CLOUDFLARE_TURNSTILE_PUBLIC_KEY=
CLOUDFLARE_TURNSTILE_SECRET_KEY=

# https://resend.com/docs/create-an-api-key
RESEND_API_KEY=

# https://resend.com/docs/dashboard/receiving/introduction
CONTACT_FROM_EMAIL=
CONTACT_TO_EMAIL=