.goBack {
	display: inline-flex;
	align-items: center;
	gap: var(--w-space-1);
	width: fit-content;

	&::before {
		content: "";
		width: 1em;
		height: 1em;
		background-color: currentColor;
		mask-image: url("/icons/go-back.svg");
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
	}
}
