.greeting {
	text-align: center;

	h1 {
		margin-bottom: var(--w-space-3);
	}

	p {
		margin: 0;
		font-size: var(--w-text-note);
	}
}

.left {
	display: none;
}

.top {
	display: inline;
}

@media (min-width: 60rem) {
	.left {
		display: inline;
	}

	.top {
		display: none;
	}
}
